*,::before,::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#main {
  width: 500px;
  background-color: hsl(217, 19%, 24%);
  border-radius: 13px;
  padding: 45px;
  position: relative;
}

@media (max-width: 475px) {
  #main {
    width: 95%;
    margin: 0 auto;
  }
}